[Unit]
Description=openDAQ simulator service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=opendaq
ExecStartPre=python3 /home/opendaq/configurator.py
ExecStartPre=cp /home/opendaq/opendaq-config.json /home/opendaq/opendaq/
ExecStartPre=cp /home/opendaq/{opcuatms.service,native_streaming.service} /etc/avahi/services/
ExecStartPre=service avahi-daemon restart
Environment=LD_LIBRARY_PATH=/home/opendaq/opendaq/lib
ExecStart=/home/opendaq/opendaq/application_simulator

[Install]
WantedBy=multi-user.target
