[Unit]
Description=openDAQ simulator service
After=syslog.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=opendaq
ExecStartPre=python3 /home/opendaq/configurator.py
ExecStartPre=cp /home/opendaq/opendaq-config.json /home/opendaq/opendaq/
Environment=LD_LIBRARY_PATH=/home/opendaq/opendaq/lib
ExecStart=/home/opendaq/opendaq/application_simulator

[Install]
WantedBy=multi-user.target
