[Unit]
Description=openDAQ simulator service
After=syslog.target network-online.target
Before=avahi-daemon.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=opendaq
ExecStartPre=systemctl mask avahi-daemon.service
ExecStartPre=python3 /home/opendaq/configurator.py
ExecStartPre=cp /home/opendaq/opendaq-config.json /home/opendaq/opendaq/
ExecStartPre=cp /home/opendaq/opcuatms.service /etc/avahi/services/
Environment=LD_LIBRARY_PATH=/home/opendaq/opendaq/lib
ExecStart=/home/opendaq/opendaq/application_simulator

[Install]
WantedBy=multi-user.target
