$ReturnType$ $NonInterfaceType$_$Name$($NonInterfaceType$* obj, $Arguments$)
$ReturnType$ $NonInterfaceType$_$Name$($Arguments$)
return reinterpret_cast<$ArgTypeFull$*>(obj)->$Name$($ArgumentsImpl$);
*obj = reinterpret_cast<$NonInterfaceType$*>($FactoryName$($ArgumentsImpl$));
return 0;
$ArgTypeNameNonInterface$** $ArgName$
$ArgTypeNameNonInterface$* $ArgName$
, 