    $DocComment$
    void $Name$($Arguments$) const
    {
        if (this->object == nullptr)
            throw daq::InvalidParameterException();

        auto errCode = this->object->$Name$($ArgumentNames$);
        daq::checkErrorInfo(errCode);
    }