    virtual daq::ErrCode INTERFACE_FUNC $Name$($Arguments$) override
    {
        if (this->object == nullptr)
            throw daq::InvalidParameterException();

        return this->object->$Name$($ArgumentNames$);
    }