    virtual daq::ErrCode INTERFACE_FUNC $Name$($Arguments$) override
    {
        if (this->object == nullptr)
            DAQ_THROW_EXCEPTION(daq::InvalidParameterException);

        return this->object->$Name$($ArgumentNames$);
    }