    $DocComment$
    $ReturnTypePtr$ $Name$($Arguments$) const
    {
        if (this->object == nullptr)
            throw daq::InvalidParameterException();

        $ReturnTypeIntf$ $ReturnArgName$;

        auto errorGuard = DAQ_ERROR_GUARD();
        auto errCode = this->object->$NameInInterface$($ArgumentNames$);
        daqCheckErrorGuard(errCode);

        return $ExitReturnArgName$;
    }