<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="openDAQ-local" value="..\..\..\..\..\build\nuget_work\win-x64" />
        <add key="openDAQ-local2" value="..\..\..\..\..\build\bindings\CSharp\bin\x64\Release" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="true" />
    </packageRestore>
</configuration>