root = true

[{*.{cpp,h,cs},CMakeLists.txt,*.rtclass}]
indent_style = space
indent_size = 4
tab_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.template]
indent_style = space
indent_size = 4
tab_size = 4