name: Build and Test openDAQ

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

  workflow_call:
    inputs:
      cmake_preset:
        required: false
        type: string
      ctest_preset:
        required: false
        type: string

# TODO: Enable Python binding tests on all distributions

env:
  s3_bucket: bb-blueberry-sdk-releases
  regression_tests_target_tag: v3.0.0
  regression_simulator_folder: regression_test_simulator
  cmake_preset: ${{ inputs.cmake_preset != '' && inputs.cmake_preset || 'ci' }}
  ctest_preset: ${{ inputs.ctest_preset != '' && inputs.ctest_preset || 'run_tests' }}
  test_path: ${{ github.workspace }}/junit_reports/
  build_path: ${{ github.workspace }}/build
  python_version_build: 3.11
  python_versions: 3.8 3.9 3.10 3.11 3.12 3.13 3.14
  OPENDAQ_SINK_CONSOLE_LOG_LEVEL: 1

jobs:
  build_windows:
    runs-on: ${{ matrix.runner }}
    name: ${{ matrix.name }}
    # ${{ }} expression syntax because of leading '!'
    if: ${{ ! github.event.pull_request.draft }}

    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref }}-${{ matrix.name }}
      cancel-in-progress: true
    timeout-minutes: 270
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows VS 2022 x64 Release
            runner: windows-latest
            cmake-build-type: Release
            cmake-defines:
            cmake-generator: "Visual Studio 17 2022"
          - name: Windows VS 2022 x64 Debug
            runner: windows-latest
            cmake-build-type: Debug
            cmake-defines:
            cmake-generator: "Visual Studio 17 2022"
          - name: Windows VS 2022 Win32 Release
            runner: windows-latest
            cmake-build-type: Release
            cmake-defines: -A Win32
            cmake-generator: "Visual Studio 17 2022"
            enable-32bit: true
          - name: Windows Clang Release
            runner: windows-latest
            cmake-build-type: Release
            cmake-defines: >-
              -DCMAKE_C_COMPILER=clang 
              -DCMAKE_CXX_COMPILER=clang++
            cmake-generator: Ninja
          - name: Windows GCC Release
            runner: windows-latest
            cmake-build-type: Release
            cmake-defines: >-
              -DCMAKE_C_COMPILER=gcc
              -DCMAKE_CXX_COMPILER=g++
              "-DCMAKE_CXX_FLAGS=-Wa,-mbig-obj -Wno-deprecated-declarations -Wno-error=conversion-null"
              "-DCMAKE_C_FLAGS=-Wa,-mbig-obj"
            cmake-generator: Ninja

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and Test
        id: build-and-test
        if: matrix.name != 'Windows Intel-LLVM Release'
        uses: ./.github/actions/build-sdk
        with:
          cmake-build-type: ${{ matrix.cmake-build-type }}
          cmake-config-preset: ${{ env.cmake_preset }}
          cmake-config-args: ${{ matrix.cmake-defines }}
          cmake-generator: ${{ matrix.cmake-generator }}
          enable-32bit: ${{ matrix.enable-32bit == true }}
          enable-tests: true

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Unit Test Results (${{ matrix.name }})
          path: ${{ steps.build-and-test.outputs.gtest-xml-path }}

  build_linux:
    runs-on: ubuntu-latest
    name: ${{ matrix.name }}
    if: ${{ ! github.event.pull_request.draft }}

    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref }}-${{ matrix.name }}
      cancel-in-progress: true
    timeout-minutes: 180
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Ubuntu Latest gcc-9 Release
            additional-packages: g++-9
            cmake-generator: Ninja
            cmake-build-type: Release
            cmake-defines: -DCMAKE_C_COMPILER=gcc-9 -DCMAKE_CXX_COMPILER=g++-9
          - name: Ubuntu Latest gcc-14 Release
            additional-packages: g++-14
            cmake-generator: Ninja
            cmake-build-type: Release
            cmake-defines: -DCMAKE_C_COMPILER=gcc-14 -DCMAKE_CXX_COMPILER=g++-14
          - name: Ubuntu Latest clang-14 Release
            additional-packages: clang-14
            cmake-generator: Ninja
            cmake-build-type: Release
            cmake-defines: -DCMAKE_C_COMPILER=clang-14 -DCMAKE_CXX_COMPILER=clang++-14
          - name: Ubuntu Latest clang-16 Release
            additional-packages: clang-16
            cmake-generator: Ninja
            cmake-build-type: Release
            cmake-defines: -DCMAKE_C_COMPILER=clang-16 -DCMAKE_CXX_COMPILER=clang++-16
          # The Debug configurations are disabled until the problem with test_py_opendaq is resolved.
          # - name: Ubuntu Latest gcc-9 Debug
          #   additional-packages: g++-9
          #   cmake-generator: Ninja
          #   cmake-build-type: Debug
          #   cmake-defines: -DCMAKE_C_COMPILER=gcc-9 -DCMAKE_CXX_COMPILER=g++-9
          # - name: Ubuntu Latest gcc-14 Debug
          #   additional-packages: g++-14
          #   cmake-generator: Ninja
          #   cmake-build-type: Debug
          #   cmake-defines: -DCMAKE_C_COMPILER=gcc-14 -DCMAKE_CXX_COMPILER=g++-14
          # - name: Ubuntu Latest clang-14 Debug
          #   additional-packages: clang-14
          #   cmake-generator: Ninja
          #   cmake-build-type: Debug
          #   cmake-defines: -DCMAKE_C_COMPILER=clang-14 -DCMAKE_CXX_COMPILER=clang++-14
          # - name: Ubuntu Latest clang-16 Debug
          #   additional-packages: clang-16
          #   cmake-generator: Ninja
          #   cmake-build-type: Debug
          #   cmake-defines: -DCMAKE_C_COMPILER=clang-16 -DCMAKE_CXX_COMPILER=clang++-16

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and Test
        id: build-and-test
        uses: ./.github/actions/build-sdk
        with:
          additional-dependencies: ${{ matrix.additional-packages }}
          cmake-build-type: ${{ matrix.cmake-build-type }}
          cmake-config-preset: ${{ env.cmake_preset }}
          cmake-config-args: ${{ matrix.cmake-defines }}
          cmake-generator: ${{ matrix.cmake-generator }}
          enable-tests: true

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Unit Test Results (${{ matrix.name }})
          path: ${{ steps.build-and-test.outputs.gtest-xml-path }}

  build_macos:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    # ${{ }} expression syntax because of leading '!'
    if: ${{ ! github.event.pull_request.draft }}

    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref }}-${{ matrix.name }}
      cancel-in-progress: true
    timeout-minutes: 240
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: macos-13 clang Release
            cmake_generator: Ninja
            cmake_build_type: Release
            cmake_osx_deployment_target: 10.15
            additional_cmake_options: -DDAQMODULES_REF_FB_MODULE_ENABLE_RENDERER=ON -DOPENDAQ_VENV_PYTHON_EXECUTABLE_TESTS=ON -DDAQMODULES_PARQUET_RECORDER_MODULE=ON
            runner: macos-13
          # - name: macos-13 clang Debug
            # cmake_generator: Ninja
            # cmake_build_type: Debug
            # runner: macos-13

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.0'

      - name: Install ninja-build
        uses: seanmiddleditch/gha-setup-ninja@v5
        with:
          version: 1.10.2

      - name: Set up Pythons
        uses: actions/setup-python@v5
        with:
          python-version: |
              3.8
              3.9
              3.10
              3.11
              3.12
              3.13
              3.14

      - name: Make dirs
        run: |
          mkdir -p build
          mkdir wheels

      - name: Build wheels x86_64
        working-directory: ./build
        run: |
          last_version="3.8"
          for version in ${{ env.python_versions }}; do
              cmake -G ${{ matrix.cmake_generator }} --preset ${{ env.cmake_preset }} -DCI_GIT_BRANCH=${{ github.head_ref }} -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} -DCMAKE_OSX_DEPLOYMENT_TARGET=${{ matrix.cmake_osx_deployment_target }} -DOPENDAQ_PYTHON_VERSION=$version ${{ matrix.additional_cmake_options }} ${{ github.workspace }}
              cmake --build .
              python$version -m venv venv
              . venv/bin/activate
              pip install numpy pybind11-stubgen
              python${{env.python_version_build}} ../bindings/python/package/build_pip.py -r -c
              cp -f pip/packages/opendaq*.whl ../wheels
              deactivate
              rm -rf venv
              last_version=$version
          done
          echo "last_version=$last_version" >> "$GITHUB_ENV"

      - name: Test
        env:
          GTEST_OUTPUT: "xml:${{ env.test_path }}"
        run: |
          python$last_version -m venv build/venv
          . build/venv/bin/activate
          pip install build/pip/packages/opendaq*.whl
          ctest --output-on-failure --preset ${{ env.ctest_preset }} -C ${{ matrix.cmake_build_type }} --test-dir build --verbose

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Unit Test Results (${{ matrix.name }})
          path: ${{ env.test_path }}

      - name: Upload PIP packages
        uses: actions/upload-artifact@v4
        with:
          name: PIP Package (${{ matrix.name }})
          path: ./wheels/opendaq*.whl
          retention-days: 7

  # build_android:
  #   runs-on: ubuntu-latest-8-cores
  #   # ${{ }} expression syntax because of leading '!'
  #   if: ${{ ! github.event.pull_request.draft }}
  #
  #   concurrency:
  #     group: ${{ github.workflow }}-${{ github.head_ref }}-${{ matrix.abi }}
  #     cancel-in-progress: true
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #       android_abi: [arm64-v8a]
  #       # android_abi: [arm64-v8a, armeabi-v7a, x86_64]
  #       android_version: [24]
  #       cmake_build_type: [Debug]
  #   env:
  #     android_ndk_version: r25c
  #     android_ndk_path: ${{ github.workspace }}/android-ndk-r25c
  #     android_ndk_zip: ${{ github.workspace }}/android-ndk-r25c-linux.zip
  #     android_ndk_url: https://dl.google.com/android/repository/android-ndk-r25c-linux.zip
  #
  #   steps:
  #
  #     - uses: actions/checkout@v4
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #
  #     - name: Install build dependencies
  #       run: |
  #         sudo apt-get install -y --no-install-recommends ninja-build
  #     - name: Cache Android NDK
  #       id: cache-ndk
  #       uses: actions/cache@v3
  #       with:
  #         path: ${{ env.android_ndk_zip }}
  #         key: ${{ runner.os }}-android-ndk
  #
  #     - name: Download Android NDK
  #       if: steps.cache-ndk.outputs.cache-hit != 'true'
  #       run: wget ${{ env.android_ndk_url }}
  #
  #     - name: Extract Android NDK
  #       run: unzip ${{ env.android_ndk_zip }}
  #
  #     - name: Configure
  #       run: |
  #         mkdir build
  #         cd build
  #         cmake -G Ninja --preset ${{ env.cmake_preset }} \
  #           -DOPENDAQ_USE_SOURCE_BOOST=ON \
  #           -DOPENDAQ_GENERATE_PYTHON_BINDINGS=OFF \
  #           -DOPENDAQ_ENABLE_TESTS=OFF \
  #           -DCMAKE_TOOLCHAIN_FILE=${{ env.android_ndk_path }}/build/cmake/android.toolchain.cmake \
  #           -DCMAKE_ANDROID_NDK=${{ env.android_ndk_path }} \
  #           -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
  #           -DCMAKE_SYSTEM_NAME=Android \
  #           -DCMAKE_SYSTEM_VERSION=${{ matrix.android_version }} \
  #           -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
  #           -DANDROID_ABI=${{ matrix.android_abi }} \
  #           -DANDROID_NDK=${{ env.android_ndk_path }} \
  #           -DANDROID_PLATFORM=android-${{ matrix.android_version }} \
  #           -DCI_GIT_BRANCH=${{ github.head_ref }} \
  #           ..
  #     - name: Build
  #       working-directory: ./build
  #       run: cmake --build .
