name: Build openDAQ packages

on:
  push:
    branches: [release/**]

  workflow_dispatch:

env:
  cmake_preset: package
  build_path: ${{ github.workspace }}/build
  package_path: ${{ github.workspace }}/build/_packages
  wheels_path: ${{ github.workspace }}/build/wheels
  package_path_rel: build/_packages # WA for https://github.com/actions/checkout/issues/785
  vm_name: device_simulator
  simulator_app_artifact: SimulatorApp
  simulator_package_artifact: SimulatorPackage
  python_version_build: 3.11
  python_versions: 3.8 3.9 3.10 3.11 3.12 3.13 3.14
  windows_x64_artifact: SdkWindows64
  linux_x64_artifact: SdkLinux64

jobs:
  package_windows:
    runs-on: ${{ matrix.runner }}
    name: ${{ matrix.name }}

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.name }}
      cancel-in-progress: true
    timeout-minutes: 240
    strategy:
      fail-fast: false
      matrix:
        # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
        include:
          - name: Windows VS 2022 x64 Release
            runner: windows-latest
            cmake-generator: "Visual Studio 17 2022"
            cmake-build-type: Release
            cmake-defines: -DDAQMODULES_PARQUET_RECORDER_MODULE=ON
            cpack-generator: NSIS
            enable-32bit: false
            generate-python-bindings: true
            generate-csharp-bindings: true
          - name: Windows VS 2022 Win32 Release
            runner: windows-latest
            cmake-generator: "Visual Studio 17 2022"
            cmake-build-type: Release
            cmake-defines:
            cpack-generator: NSIS
            enable-32bit: true
            generate-python-bindings: false
            generate-csharp-bindings: false

    outputs:
      # trick for reusable workflow in dotnet_bindings because cannot use env context in "with:"
      # test_path: ''
      windows_x64_artifact_name: ${{ env.windows_x64_artifact }}
      # short_sha: ${{ env.short_sha }}
      short_sha_dotnet: ${{ steps.build-csharp-bindings.outputs.short-sha-dotnet }}

    env:
      short_sha: 'package'  # for .NET Bindings build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build SDK
        id: build-sdk
        uses: ./.github/actions/build-sdk
        with:
          additional-dependencies: nsis
          cmake-generator: ${{ matrix.cmake-generator }}
          cmake-config-preset: ${{ env.cmake_preset }}
          cmake-config-args: ${{ matrix.cmake-defines }}
          cmake-build-type: ${{ matrix.cmake-build-type }}
          enable-32bit: ${{ matrix.enable-32bit == true }}
          cpack-generator: ${{ matrix.cpack-generator }}
          generate-csharp-bindings: false
          generate-python-bindings: false

      - name: Upload SDK Installer
        uses: actions/upload-artifact@v4
        with:
          name: Package (${{ matrix.name }})
          path: ${{ steps.build-sdk.outputs.package-path }}
          retention-days: 7

      - name: Build Python Wheels
        id: build-python-bindings
        if: matrix.generate-python-bindings == true
        uses: ./.github/actions/build-bindings-python
        with:
          python-versions: ${{ env.python_versions }}
          build-path: ${{ steps.build-sdk.outputs.build-path }}
          cmake-build-type: ${{ matrix.cmake-build-type }}

      - name: Upload Python Wheels
        if: matrix.generate-python-bindings == true
        uses: actions/upload-artifact@v4
        with:
          name: Wheels (${{ matrix.name }})
          path: ${{ steps.build-python-bindings.outputs.wheels-path }}
          retention-days: 7

      - name: Build C# Bindings
        id: build-csharp-bindings
        if: matrix.generate-csharp-bindings == true
        uses: ./.github/actions/build-bindings-csharp
        with:
          build-path: ${{ steps.build-sdk.outputs.build-path }}
          cmake-build-type: ${{ matrix.cmake-build-type }}

      - name: Upload C# Bindings binaries
        if: matrix.generate-csharp-bindings == true
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.windows_x64_artifact }}
          path: |
            ${{ steps.build-csharp-bindings.outputs.nuget-path }}
            !${{ steps.build-csharp-bindings.outputs.nuget-path }}/**/*.json
          retention-days: 1

  package_linux:
    runs-on: ubuntu-latest
    name: ${{ matrix.name }}

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.name }}
      cancel-in-progress: true
    timeout-minutes: 180
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Ubuntu 22.04 gcc-10 Release x86_64
            image: ubuntu:22.04
            cmake_generator: Ninja
            cmake_build_type: Release
            cmake_defines: -DOPENDAQ_BUILD_DOCUMENTATION=ON -DDAQSIMULATOR_ENABLE_SIMULATOR_APP=ON -DDAQMODULES_PARQUET_RECORDER_MODULE=ON
            build_documentation: true
            cpack: DEB
            apt_packages: g++-10
            cc: gcc-10
            cxx: g++-10
          - name: Ubuntu 22.04 gcc-10 Release arm64
            image: ubuntu:22.04
            cmake_generator: Ninja
            cmake_build_type: Release
            cmake_defines:
              -DOPENDAQ_BUILD_DOCUMENTATION=OFF
              -DDAQSIMULATOR_ENABLE_SIMULATOR_APP=OFF
              -DOPENDAQ_GENERATE_PYTHON_BINDINGS=OFF
              -DCMAKE_SYSTEM_NAME=Linux
              -DCMAKE_SYSTEM_PROCESSOR=aarch64
              -DDAQMODULES_REF_FB_MODULE=OFF
            build_documentation: false
            cpack: DEB
            apt_packages: gcc-10-aarch64-linux-gnu g++-10-aarch64-linux-gnu
            cc: aarch64-linux-gnu-gcc-10
            cxx: aarch64-linux-gnu-g++-10

    container:
      image: ${{ matrix.image }}
      env:
        TZ: Europe/Berlin
        DEBIAN_FRONTEND: noninteractive
        CC: ${{ matrix.cc }}
        CXX: ${{ matrix.cxx }}

    outputs:
      # trick for reusable workflow in dotnet_bindings because cannot use env context in "with:"
      linux_x64_artifact_name: ${{ env.linux_x64_artifact }}

    steps:
      - name: Install basic dependencies
        run: |
          apt-get update
          apt-get install -y git openssh-client rename

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
              apt-get install -y --no-install-recommends ${{ matrix.apt_packages }} \
                lld ninja-build curl \
                python3-pip python3-dev \
                mono-runtime libmono-system-json-microsoft4.0-cil libmono-system-data4.0-cil \
                libx11-dev libxi-dev libxcursor-dev libxrandr-dev libxinerama-dev \
                libgl-dev libudev-dev libfreetype6-dev libjpeg-dev pkg-config

      - name: Install documentation dependencies
        if: matrix.build_documentation
        run: apt-get install -y --no-install-recommends doxygen graphviz wget zip

      - name: Install latest CMake
        run: pip install cmake

      - name: Configure
        run: |
          mkdir build
          cd build
          cmake -G ${{ matrix.cmake_generator }} --preset ${{ env.cmake_preset }} ${{ matrix.cmake_defines }} -DCI_GIT_BRANCH=${{ github.ref }} -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} ..

      - name: Build
        working-directory: ./build
        run: cmake --build .

      - name: Package
        working-directory: ./build
        run: cpack -C ${{ matrix.cmake_build_type }} -G ${{ matrix.cpack }}

      - name: Rename
        working-directory: ${{ env.package_path_rel }}
        run: |
          rename 's/_amd64/-ubuntu20.04-x86_64/' *.deb
          rename 's/_arm64/-ubuntu20.04-arm64/' *.deb
          rename 's/opendaq_/opendaq-/' *.deb

      - name: Read openDAQ version
        id: daq_version
        working-directory: .
        run: |
            DAQ_VER=$(cat opendaq_version)
            echo Head openDAQ version: $DAQ_VER
            echo "DAQ_VERSION=$DAQ_VER" >> "$GITHUB_OUTPUT"

      - name: Compress documentation
        if: matrix.build_documentation
        working-directory: ./build/doc_doxygen/html
        run: zip -r "../../opendaq-${{ steps.daq_version.outputs.DAQ_VERSION }}_cpp_api_reference.zip" .

      - name: Upload package
        uses: actions/upload-artifact@v4
        with:
          name: Package (${{ matrix.name }})
          path: ${{ env.package_path_rel }}
          retention-days: 7

      - name: Upload API reference
        if: ${{ matrix.name == 'Ubuntu 22.04 gcc-10 Release x86_64' }}
        uses: actions/upload-artifact@v4
        with:
          name: API Reference
          path: "build/opendaq-${{ steps.daq_version.outputs.DAQ_VERSION }}_cpp_api_reference.zip"
          retention-days: 7

      - name: Upload temporary package for simulator
        if: ${{ matrix.name == 'Ubuntu 22.04 gcc-10 Release x86_64' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.simulator_package_artifact }}
          path: ${{ env.package_path_rel }}

      - name: Upload simulator app
        if: ${{ matrix.name == 'Ubuntu 22.04 gcc-10 Release x86_64' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.simulator_app_artifact }}
          path: build/bin/application_simulator

      - name: Upload binaries for .NET Bindings NuGet package
        # "There can be only one."
        if: ${{ matrix.name == 'Ubuntu 22.04 gcc-10 Release x86_64' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.linux_x64_artifact }}
          path: |
            ${{ env.build_path }}/bin/*.so
            !${{ env.build_path }}/**/opendaq.cpython*
            !${{ env.build_path }}/**/*_test_dll.so
          # the exclusion filter does not work and the online-help does not explain
          # most probably a pattern *xxx.yy does not work, only x*
          #if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`
          retention-days: 1

  package_linux_wheels:
    runs-on: ubuntu-latest
    name: ${{ matrix.name }}

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.name }}
      cancel-in-progress: true
    timeout-minutes: 180
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: manylinux_2_28 gcc Release
            image: quay.io/pypa/manylinux_2_28_x86_64
            cmake_generator: Ninja
            cmake_build_type: Release
            additional_packages:
            cc: gcc
            cxx: g++
            cpack: ZIP

    container:
      image: ${{ matrix.image }}
      env:
        TZ: Europe/Berlin
        CC: ${{ matrix.cc }}
        CXX: ${{ matrix.cxx }}

    steps:
      - name: Install basic dependencies
        run: |
          yum update -y
          yum install -y git

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          yum install -y ${{ matrix.additional_packages }} \
              ninja-build \
              mono-core \
              freetype-devel libudev-devel libX11-devel libXi-devel libXcursor-devel libXrandr-devel

      - name: Create build dir
        run: mkdir build

      - name: Configure and build Python Wheels
        working-directory: ./build
        run: |
          mkdir wheels
          for version in ${{ env.python_versions }}; do
              echo "Building for Python $version"
              cmake -G "${{ matrix.cmake_generator }}" --preset ${{ env.cmake_preset }} -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} -DCI_GIT_BRANCH=${{ github.ref }} -DDAQMODULES_PARQUET_RECORDER_MODULE=ON -DOPENDAQ_PYTHON_VERSION=$version ..
              cmake --build .
              python$version -m venv venv
              . venv/bin/activate
              pip install numpy pybind11-stubgen
              python${{env.python_version_build}} ../bindings/python/package/build_pip.py -r
              cp -f pip/packages/opendaq*.whl wheels
              deactivate
              rm -rf venv
          done

      - name: Upload Wheels
        uses: actions/upload-artifact@v4
        with:
          name: Wheels (${{ matrix.name }})
          path: ${{ env.wheels_path }}
          retention-days: 7

  build_macos:
    name: ${{ matrix.name }}
    runs-on: macos-13

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.name }}
      cancel-in-progress: true
    timeout-minutes: 400
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: macos-13 clang Release
            cmake_generator: Ninja
            cmake_build_type: Release
            cmake_osx_deployment_target: 10.15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.0'

      - name: Install ninja-build
        uses: seanmiddleditch/gha-setup-ninja@v5
        with:
          version: 1.10.2

      - name: Set up Pythons
        uses: actions/setup-python@v5
        with:
          python-version: |
              3.8
              3.9
              3.10
              3.11
              3.12
              3.13
              3.14

      - name: Make dirs
        run: |
          mkdir -p build
          mkdir wheels

      - name: Build wheels x86_64
        working-directory: ./build
        run: |
          for version in ${{ env.python_versions }}; do
              cmake -G ${{ matrix.cmake_generator }} --preset ${{ env.cmake_preset }} -DCI_GIT_BRANCH=${{ github.ref }} -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} -DCMAKE_OSX_DEPLOYMENT_TARGET=${{ matrix.cmake_osx_deployment_target }} -DDAQMODULES_REF_FB_MODULE_ENABLE_RENDERER=ON -DDAQMODULES_PARQUET_RECORDER_MODULE=ON -DOPENDAQ_PYTHON_VERSION=$version ..
              cmake --build .
              python$version -m venv venv
              . venv/bin/activate
              pip install numpy pybind11-stubgen
              python${{env.python_version_build}} ../bindings/python/package/build_pip.py -r -c
              cp -f pip/packages/opendaq*.whl ../wheels
              deactivate
              rm -rf venv
          done

      - name: Clear build dir
        run: rm -rf build/*

      - name: Build wheels arm64
        working-directory: ./build
        run: |
          for version in ${{ env.python_versions }}; do
              cmake -G ${{ matrix.cmake_generator }} --preset ${{ env.cmake_preset }} -DCMAKE_SYSTEM_NAME=Darwin -DCI_GIT_BRANCH=${{ github.ref }} -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} -DCMAKE_OSX_ARCHITECTURES=arm64 -DCMAKE_OSX_DEPLOYMENT_TARGET=${{ matrix.cmake_osx_deployment_target }} -DBOOST_CONTEXT_ABI=aapcs -DBOOST_CONTEXT_ARCHITECTURE=arm64 -DCMAKE_SYSTEM_PROCESSOR=arm64 -DARROW_CPU_FLAG=aarch64 -DDAQMODULES_REF_FB_MODULE_ENABLE_RENDERER=ON -DDAQMODULES_PARQUET_RECORDER_MODULE=ON -DOPENDAQ_PYTHON_VERSION=$version ..
              cmake --build .
              python$version -m venv venv
              . venv/bin/activate
              pip install numpy pybind11-stubgen
              python${{env.python_version_build}} ../bindings/python/package/build_pip.py -r -c
              cp -f pip/packages/opendaq*.whl ../wheels
              deactivate
              rm -rf venv
          done

      - name: Upload Wheels
        uses: actions/upload-artifact@v4
        with:
          name: Wheels (${{ matrix.name }})
          path: wheels
          retention-days: 7

  simulator-build:
    runs-on: ubuntu-latest-4-cores
    name: Simulator build
    needs: [package_linux]

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 120
    env:
      simulator_directory: simulator

    defaults:
      run:
        working-directory: ${{ env.simulator_directory }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          wget -O- https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update
          sudo apt install -y virtualbox vagrant

      - name: Download package
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.simulator_package_artifact }}
          path: ${{ env.simulator_directory }}

      - name: Download simulator app
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.simulator_app_artifact }}
          path: ${{ env.simulator_directory }}

      - name: Display files in working directory
        run: ls -Rhl

      - name: Read openDAQ version
        id: daq_version
        working-directory: .
        run: |
            DAQ_VER=$(cat opendaq_version)
            echo Head openDAQ version: $DAQ_VER
            echo "DAQ_VERSION=$DAQ_VER" >> "$GITHUB_OUTPUT"

      - name: Define simulator name
        id: simulator_name
        run: echo "SIMULATOR_NAME=opendaq-${{ steps.daq_version.outputs.DAQ_VERSION }}_${{ env.vm_name }}" >> "$GITHUB_OUTPUT"

      - name: Find binaries and run vagrant
        run: |
          debfiles=( *.deb )
          vagrant --version
          VM_NAME=${{ steps.simulator_name.outputs.SIMULATOR_NAME }} HOME_PATH=$HOME PACKAGE_NAME=${debfiles[0]} vagrant up
          VM_NAME=${{ steps.simulator_name.outputs.SIMULATOR_NAME }} HOME_PATH=$HOME PACKAGE_NAME=${debfiles[0]} vagrant halt

      - name: vboxmanage modify and compact
        run: |
          vboxmanage modifyvm ${{ steps.simulator_name.outputs.SIMULATOR_NAME }} --audio none --uart1 off --nic1 hostonly --hostonlyadapter1 "VirtualBox Host-Only Ethernet Adapter"
          vboxmanage modifymedium disk "${{ steps.simulator_name.outputs.SIMULATOR_NAME }}.vdi" --compact

      - name: vboxmanage check
        run: |
          vboxmanage list vms
          vboxmanage list hostonlyifs
          vboxmanage list hdds

      - name: export VM to .ova appliance
        run: |
          vboxmanage export ${{ steps.simulator_name.outputs.SIMULATOR_NAME }} -o ${{ steps.simulator_name.outputs.SIMULATOR_NAME }}.ova --options manifest,nomacs
          ls -hl ${{ steps.simulator_name.outputs.SIMULATOR_NAME }}.ova

      - name: Upload OVA image
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.simulator_name.outputs.SIMULATOR_NAME }}-ova-image
          path: simulator/${{ steps.simulator_name.outputs.SIMULATOR_NAME }}.ova
          retention-days: 7

      - name: Delete unused artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: |
            ${{ env.simulator_app_artifact }}
            ${{ env.simulator_package_artifact }}

  # using reusable workflow
  dotnet_bindings:
      name: .NET Bindings

      needs: [package_windows,package_linux]

      uses: ./.github/workflows/reusable_nuget_creation_and_test.yml
      with:
        # cannot use env context here, so use needs.<job>.outputs trick
        # windows_test_path: ''
        # linux_test_path: ''
        windows_x64_artifact_name:  ${{ needs.package_windows.outputs.windows_x64_artifact_name }}
        linux_x64_artifact_name:  ${{ needs.package_linux.outputs.linux_x64_artifact_name }}
        short_sha: ${{ needs.package_windows.outputs.short_sha_dotnet }}
      # -> output.nuget_artifact_name
