name: .NET Bindings NuGet creation and test

on:
  workflow_call:
    inputs:
      windows_test_path:
        description: the windows path for the test reports (optional, omit to disable tests)
        required: false
        default: ''
        type: string
      linux_test_path:
        description: the linux path for the test reports (optional, omit to disable tests)
        required: false
        default: ''
        type: string
      windows_x64_artifact_name:
        description: the name of the Windows x64 source artifact (package will be deleted after its use)
        required: true
        type: string
      linux_x64_artifact_name:
        description: the name of the Linux x64 source artifact (package will be deleted after its use)
        required: true
        type: string
      short_sha:
        description: the short SHA of the GitHub ref (optional, omit to generate release package)
        required: false
        default: ''
        type: string
    outputs:
      nuget_artifact_name:
        description: the name of the uploaded NuGet artifact
        value: ${{ jobs.dotnet-bindings-nuget-creation.outputs.nuget_artifact_name }}
      nuget_creation_result:
        description: result of the creation job
        value: ${{ fromJSON(toJSON(jobs.dotnet-bindings-nuget-creation)).result }}
        # JSON trick from https://github.com/actions/runner/issues/2495

jobs:
  dotnet-bindings-nuget-creation:
    runs-on: windows-2022
    name: NuGet creation

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-nuget
      cancel-in-progress: true
    timeout-minutes: 120

    env:
      # use relative paths where possible (to github.workspace)
      nuget_work_path: ./build/nuget_work
      nuget_work_path_win_x64: ./build/nuget_work/win-x64
      nuget_work_path_linux_x64: ./build/nuget_work/linux-x64
      dotnet_source_path: ./bindings/dotnet/openDAQ.Net
      dotnet_packages_path: ./packages/opendaq.net # relative to test-project
      nuget_artifact: Package (openDAQ.Net NuGet)
      # map inputs to env (absolute paths)
      windows_test_path: ${{ inputs.windows_test_path }}
      windows_x64_artifact: ${{ inputs.windows_x64_artifact_name }}
      linux_test_path: ${{ inputs.linux_test_path }}
      linux_x64_artifact: ${{ inputs.linux_x64_artifact_name }}

    # for the test jobs (dotnet-bindings-nuget-test-win / -linux)
    outputs:
      # relative paths (to github.workspace)
      nuget_work_path: ${{ env.nuget_work_path }}
      nuget_work_path_win_x64: ${{ env.nuget_work_path_win_x64 }}
      nuget_work_path_linux_x64: ${{ env.nuget_work_path_linux_x64 }}
      dotnet_source_path: ${{ env.dotnet_source_path }}
      dotnet_packages_path: ${{ env.dotnet_packages_path }}
      nuget_artifact_name: ${{ env.nuget_artifact }}
      # absolute paths
      windows_test_path: ${{ env.windows_test_path }}
      linux_test_path: ${{ env.linux_test_path }}

    defaults:
      run:
        shell: pwsh
        # working-directory: ${{ env.nuget_work_path }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download artifacts for Windows x64
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.windows_x64_artifact }}
          path: ${{ env.nuget_work_path_win_x64 }}

      - name: Download artifacts for Linux
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.linux_x64_artifact }}
          path: ${{ env.nuget_work_path_linux_x64 }}

      - name: Cleanup test-files from Linux artifacts
        # since the exclusion filter !path/**/*_test_dll.so in upload-artifact does not work
        working-directory: ${{ env.nuget_work_path_linux_x64 }}
        run: |
          del *_test_dll.so -Force
          del opendaq.cpython* -Force

      - name: Display files in working directory
        run: ls -R

      - name: Read openDAQ version
        id: daq_version
        shell: bash
        run: |
          DAQ_VER=$(cat opendaq_version)
          echo Head openDAQ version: $DAQ_VER
          echo "DAQ_VERSION=$DAQ_VER" >> "$GITHUB_OUTPUT"

      - name: Build NuGet package
        run: |
          # for .NET Bindings build
          $ENV:REPOSITORY_URL = '${{ github.repositoryUrl }}'.Replace('git:','https:')
          $ENV:BRANCH_NAME = '${{ github.base_ref || github.ref_name }}'.Replace('refs/heads/','')
          $ENV:COMMIT_SHA = '${{ github.sha }}'
          $ENV:SHORT_SHA = '${{ inputs.short_sha }}'
          $SDK_WIN64_PATH = "-p:SDK_WIN64_PATH=""$(Join-Path '${{ github.workspace }}' '${{ env.nuget_work_path_win_x64 }}' -Resolve)"""
          $SDK_LINUX64_PATH = "-p:SDK_LINUX64_PATH=""$(Join-Path '${{ github.workspace }}' '${{ env.nuget_work_path_linux_x64 }}' -Resolve)"""
          $DAQ_VERSION = '-p:OPENDAQ_PACKAGE_VERSION=${{ steps.daq_version.outputs.DAQ_VERSION }}'
          if (Test-Path '${{ env.nuget_work_path_win_x64 }}/*.nupkg') { del '${{ env.nuget_work_path_win_x64 }}/*.nupkg' -Force }
          cd '${{ env.dotnet_source_path }}/openDAQ.NET'
          & dotnet restore . --ignore-failed-sources
          & dotnet pack . --no-build --configuration Release $SDK_WIN64_PATH $SDK_LINUX64_PATH $DAQ_VERSION
        # restoring before packing to create obj\project.assets.json needed for packing
        # packing without building as the binaries (artifacts) have been downloaded before (handled in *.csproj)

      - name: Upload package (openDAQ.Net NuGet)
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.nuget_artifact }}
          path: ${{ env.nuget_work_path }}/win-x64/openDAQ.Net.*.nupkg
          retention-days: 7

      - name: Delete no longer needed artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: |
            ${{ env.windows_x64_artifact }}
            ${{ env.linux_x64_artifact }}

  dotnet-bindings-nuget-test-win:
    runs-on: windows-2022
    name: NuGet test (Windows)

    needs: [dotnet-bindings-nuget-creation]

    if: inputs.windows_test_path != ''

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-nuget
      cancel-in-progress: true
    timeout-minutes: 120

    env:
      # relative paths (to github.workspace)
      nuget_work_path: ${{ needs.dotnet-bindings-nuget-creation.outputs.nuget_work_path }}
      nuget_work_path_win_x64: ${{ needs.dotnet-bindings-nuget-creation.outputs.nuget_work_path_win_x64 }}
      nuget_work_path_linux_x64: ${{ needs.dotnet-bindings-nuget-creation.outputs.nuget_work_path_linux_x64 }}
      dotnet_source_path: ${{ needs.dotnet-bindings-nuget-creation.outputs.dotnet_source_path }}
      dotnet_packages_path: ${{ needs.dotnet-bindings-nuget-creation.outputs.dotnet_packages_path }}
      nuget_artifact: ${{ needs.dotnet-bindings-nuget-creation.outputs.nuget_artifact_name }}
     # absolute path
      test_path: ${{ needs.dotnet-bindings-nuget-creation.outputs.windows_test_path }}

    defaults:
      run:
        shell: pwsh

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download NuGet package
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.nuget_artifact }}
          path: ${{ env.nuget_work_path_win_x64 }}

      - name: Display files in working directory
        working-directory: ${{ env.nuget_work_path }}
        run: |
          ls -R

      - name: Cleanup private NuGet package store
        working-directory:  ${{ env.dotnet_source_path }}/openDAQ.Net.NuGet.Test
        run: |
          if (Test-Path "${{ env.dotnet_packages_path }}")
          {
            del "${{ env.dotnet_packages_path }}" -Recurse -Force
          }

      - name: Restore NuGet packages
        # restoring using private config and packages dir to have the NuGet package store local and temporary
        working-directory:  ${{ env.dotnet_source_path }}/openDAQ.Net.NuGet.Test
        run: |
          & dotnet restore . --configfile ./.nuget/NuGet.Config --ignore-failed-sources --packages ./packages

      - name: Test openDAQ NuGet package
        # testing with building but not restoring (done before)
        working-directory:  ${{ env.dotnet_source_path }}/openDAQ.Net.NuGet.Test
        run: |
          & dotnet test . --no-restore --configuration Release --logger "junit;LogFilePath=${{ env.test_path }}/test_DotNetBindings_nuget_win.xml" -p:TestTfmsInParallel=false

      - name: Upload NuGet package test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Unit Test Results (openDAQ.Net NuGet Win)
          path: ${{ env.test_path }}

  dotnet-bindings-nuget-test-linux:
    runs-on: ubuntu-latest
    name: NuGet test (Linux)

    needs: [dotnet-bindings-nuget-creation]

    if: inputs.linux_test_path != ''

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-nuget
      cancel-in-progress: true
    timeout-minutes: 120

    env:
      # relative paths (to github.workspace)
      nuget_work_path: ${{ needs.dotnet-bindings-nuget-creation.outputs.nuget_work_path }}
      nuget_work_path_win_x64: ${{ needs.dotnet-bindings-nuget-creation.outputs.nuget_work_path_win_x64 }}
      nuget_work_path_linux_x64: ${{ needs.dotnet-bindings-nuget-creation.outputs.nuget_work_path_linux_x64 }}
      dotnet_source_path: ${{ needs.dotnet-bindings-nuget-creation.outputs.dotnet_source_path }}
      dotnet_packages_path: ${{ needs.dotnet-bindings-nuget-creation.outputs.dotnet_packages_path }}
      nuget_artifact: ${{ needs.dotnet-bindings-nuget-creation.outputs.nuget_artifact_name }}
      # absolute path
      test_path: ${{ needs.dotnet-bindings-nuget-creation.outputs.linux_test_path }}

    defaults:
      run:
        shell: pwsh

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Download NuGet package
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.nuget_artifact }}
          path: ${{ env.nuget_work_path_win_x64 }}

      - name: Display files in working directory
        working-directory: ${{ env.nuget_work_path }}
        run: |
          ls -R

      - name: Cleanup private NuGet package store
        working-directory:  ${{ env.dotnet_source_path }}/openDAQ.Net.NuGet.Test
        run: |
          if (Test-Path "${{ env.dotnet_packages_path }}")
          {
            del "${{ env.dotnet_packages_path }}" -Recurse -Force
          }

      - name: Restore NuGet packages
        # restoring using private config and packages dir to have the NuGet package store local and temporary
        working-directory:  ${{ env.dotnet_source_path }}/openDAQ.Net.NuGet.Test
        run: |
          & dotnet restore . --configfile .nuget/NuGet.Config --ignore-failed-sources --packages ./packages

      - name: Test openDAQ NuGet package
        # testing with building but not restoring (done before)
        working-directory:  ${{ env.dotnet_source_path }}/openDAQ.Net.NuGet.Test
        run: |
          & dotnet test . --no-restore --configuration Release --logger "junit;LogFilePath=${{ env.test_path }}/test_DotNetBindings_nuget_linux.xml" -p:TestTfmsInParallel=false

      - name: Upload NuGet package test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Unit Test Results (openDAQ.Net NuGet Linux)
          path: ${{ env.test_path }}
