name: Trigger downstream pipelines

on:
#  push:
#    branches-ignore:
#      - 'main'
#      - 'release/**'

  workflow_dispatch:

jobs:
  trigger_downstream:
    runs-on: ubuntu-22.04
    name: Trigger downstream pipelines    
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.name }}
      cancel-in-progress: true
    steps:
      - name: Checkout openDAQ repository
        uses: actions/checkout@v4

      - name: Check for pat availability
        id: check-pat
        env:
          PAT_TOKEN: ${{ secrets.PIPELINES_PAT }}
        run: echo "pat_available=${{ env.PAT_TOKEN != '' }}" >> $GITHUB_OUTPUT
  
      - name: Trigger downstream
        if: steps.check-pat.outputs.pat_available == 'true'
        uses: convictional/trigger-workflow-and-wait@v1.6.1
        with:
          github_token: ${{ secrets.PIPELINES_PAT }}
          repo: openDAQ-Pipelines
          owner: openDAQ
          workflow_file_name: build_and_test.yml
          client_payload: '{"sha": "${{ github.sha }}", "branch_ref": "${{ github.ref }}"}'
          wait_interval: 60
